In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [33]:
df=pd.read_csv("test_scores.csv")

In [34]:
df.head()

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83

In [35]:
x=df['math']
x

0    92
1    56
2    88
3    70
4    80
5    49
6    65
7    35
8    66
9    67
Name: math, dtype: int64

In [36]:
y=df['cs']
y

0    98
1    68
2    81
3    80
4    83
5    52
6    66
7    30
8    68
9    73
Name: cs, dtype: int64

In [37]:
%matplotlib  inline
def gradient_descent(x,y):
    m_curr=b_curr=0
    rate=0.1
    n=len(x)
    plt.scatter(x,y,color='red',marker="+")
    for i in range(10000):
        y_pre=m_curr*x+b_curr
        cost=(1/n)*sum(val**2 for val in (y-y_pre))
        md=-(2/n)*sum(x*(y-y_pre))
        bd=-(2/n)*sum(y-y_pre)
        m_curr=m_curr-rate*md
        b_curr=b_curr-rate*bd
        print("m{}, b {} , iteration {} ,cost { }" .format(m_curr,b_curr,i,cost))
x=np.array(x)
y=np.array(y)